$font-path: "../assets/fonts";
$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary:    #6495ed,
  secondary:  #435d8c,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

//Top Toolbar
$toolbar-md-background: color($colors, secondary);
$toolbar-ios-background:  color($colors, secondary);
$toolbar-wp-background:  color($colors, secondary);

//$list-md-background-color: color($colors, secondary);
//$list-md-color: color($colors, light);

@import "ionic.theme.dark";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
